<nav>
  <ul>
    <li class="icon"><a target="_blank" href="https://www.linkedin.com/in/jose-humberto-villarreal-fonseca-5779201ba/"><img
          src="assets/img/linked-in.png" width="50px" alt=""></a></li>
    <li class="icon"><a target="_blank" href="https://github.com/HumbertoVillarreal"><img src="assets/img/github.png" width="80px"
          alt=""></a></li>
    <li class="icon"><a target="_blank" href="https://www.instagram.com/betillin8/?hl=en"><img src="assets/img/insta.png"
          width="50px" alt=""></a></li>
    <li class="icon"><a target="_blank" href="mailto:jhvf2001@gmail.com?subject=Job Offer&body="><img src="assets/img/mail.png"
          width="50px" alt=""></a></li>
    <li class="icon"><a target="_blank" href="">Link 2</a></li>
  </ul>
</nav>

<div id="content">
<!---
  <div class="title-container">
    <h1>Courses</h1>
  </div>
-->

<div id="desc" class="container">
  <div class="row align-items-center">

    <div class="col-4 me_pic">
      <img id="me" src="assets/img/me.png" width="50%" height="100%" alt="">
    </div>

    <div class="col desc">
      <p><li>I am a Mexican 🌮 software engineer that can learn on the go and that always tends to finish the work in due form. I am able to work well both in a team environment as well as using own initiative. Currently looking for a home office position. </li></p>

      <p><li>🔭 I’m currently working as assistant engineer assisting in the developmnet of frontend and backend web apps as well as self sustaining apps using power platform tools.</li></p>
        
      <p><li> 🌱 Currentoly trying to learn Japanese 🗾 and machine learning/data science 🖥️.</li> </p>
        
      <p><li>  ⚡ In my free time, I like playing videogames 🎮 and walking around downtown 🚶‍♂️.</li> </p>
    </div>

  </div>
</div>

  <div class="show-images">
    <div class="container-carousel">
      <div class="carruseles" id="slider">
        <section class="slider-section">
          <img src="assets/img/dummy.png" alt="">
        </section>
        <section class="slider-section">
          <img src="assets/img/dummy.png" alt="">
        </section>
        <section class="slider-section">
          <img src="assets/img/coming_soon.jpg" alt="">
        </section>
      </div>

      <!--
        <div (click)="moveToLeft()" class="btn-left"><i class='bx bx-chevron-left'></i></div>
        <div (click)="moveToRight()" class="btn-right"><i class='bx bx-chevron-right'></i></div>
        -->

      <div (click)="moveToLeft()" class="btn-left"><</div>
      <div (click)="moveToRight()" class="btn-right">></div>

      </div>
  </div>

  <div id="skill_nav">
    <div id="icons">

    </div>
    <aside></aside>
  </div>


</div>




